<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
     <typeAliases>
 		<!-- 이 파일의 역할은 데이터 저장빈 클래스 객체 별칭을 관리함으로써 mybatis 매퍼태그 속성에 들어가는 코드를 줄일 수 있다. -->
   		<typeAlias alias="food" type="net.daum.vo.FoodVO" />
<typeAlias alias="foodNavi" type="net.daum.vo.FoodNaviVO" />
   		<typeAlias alias="member" type="net.daum.vo.Food_MemberVO" />
   		
   		

   		<typeAlias alias="foodComment" type="net.daum.vo.FoodCommentVO" />
     </typeAliases>
  </configuration>